*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.obj1{
  width: 20%;
  height: 100vh;
  background-color: rgb(155, 155, 155);
  float: left;
  border: 1px solid black;
}

.btn-obj1{
  width: 100%;
  padding: 1rem 0;
  margin-top: 2rem;
  box-shadow: none;
  outline: none;
  border: none;
  background-color: rgb(128, 128, 128);
  border: .5px solid transparent;
}

.btn-obj1:hover{
  cursor: pointer;
  border: .5px solid black;
}



.obj2 {
  height: 100%;
  width: 0;
  position: fixed;
  text-align: center;
  z-index: 1;
  top: 0;
  left: 20%;
  background-color:gray;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.dropdown{
  width: 60%;
  outline: none;
  background-color: rgb(194, 194, 194);
}



.obj3{
  width: 80%;
  height: 100vh;
  float: left;
  border: 1px solid black;
  padding: 3rem;
  background-color: rgb(180, 180, 180);
}

.item{
  width: 100%;
  background-color: rgb(141, 141, 141);
  height: 75px;
  padding: 1rem;
  margin: 2rem 0;
  border: .5px solid black;
}

.item-index-wrapper{
  width: 10%;
  height: 100%;
  float: left;
  padding: 0 1.25rem;
}

.item-index{
  width: 50px;
  height: 40px;
  padding: .75rem;
  border-radius: 50%;
  background-color: rgb(212, 212, 212);
  text-align: center;
}

.item-content{
  text-align: center;
  padding: .75rem;
  width: 90%;
  height: 100%;
  float: left;
}

.paginator{
  width: 100%;
}

.paginator-option{
  float: left;
  width: 50%;
}

.back{
  float: right;
  margin: 1rem 2rem;
  font-size: 2rem;
  cursor: pointer;
}

.forward{
  float: left;
  margin: 1rem 2rem;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}